@page "/contestant/{id}"
@inject Model model;

@if (model.Contestant is not null)
{
    <h4>@model.Contestant.Name</h4>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Category</th>
            <th>Criteria</th>
            <th>Score</th>
            <th>Comment</th>
            <th>Judge</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in model.CriteriaScores)
        {
            <tr>
                <td>@entry.Criteria.Category.Name</td>
                <td>@entry.Criteria.Name</td>
                <td>@entry.Score</td>
                <td>@entry.Comment</td>
                <td>@entry.Judge.Name</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string? Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await model.Get(int.Parse(Id!));
    }
}
