@inject Model model

<div class="col-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Contestant</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in model.TotalsList)
            {
                <tr>
                    <td><a href="/contestant/@result.Contestant.Id">@result.Contestant.Name</a></td>
                    <td>@result.Score</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="col-3">
    @foreach (var item in model.ByCategory)
    {
        <p>@item.Category.Name</p>
        <table class="table table-bordered">
        <thead>
            <tr>
                <th>Contestant</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in item.Scores)
            {
                <tr>
                    <td><a href="/contestant/@result.Contestant.Id">@result.Contestant.Name</a></td>
                    <td>@result.Score</td>
                </tr>
            }
        </tbody>
        </table>
    }
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await model.Get();
    }
}
